@CHARSET "UTF-8";

#cover{
	height:1155px;
}

#location {
float: left;
width: 940px;
height: 30px;
background: #eef3f9;
line-height: 32px;
text-indent: 16px;
font-size:12px;
}

#content {
float: left;
width: 880px;
height: 760px;
padding: 5px 30px;
font-size:11px;
}

#content h1 {
font-size: 20px;
line-height: 1.3em;
font-weight: bold;
padding: 0 0 5px 0;
border-bottom: #c0c0c0 solid 1px;
text-align: center;
}
#content h2 {
font-size: 12px;
padding: 3px 0px 5px 0px;
text-align: center;
color: #999;
}