@CHARSET "UTF-8";
a, a img { outline:none; }
a{ text-decoration:none; }
body {
	background: #fff left top;
	font-size: 12px;
	line-height: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
}

#main { width:940px; height:auto; margin:0 auto; text-align:left; }

#header {
float: left;
width: 940px;
height: 120px;
position: relative;
}

#logo {
width: 920px;
height: 100px;
position: absolute;
top: 10px;
left: 5px;
}

#menu {
float: left;
width: 940px;
height: 42px;
background:#13449d;
}
#menu a:hover{background:#000080;}
.ddsmoothmenu {
width: 940px;
height: 34px;
float: left;
font-family: "宋体";
text-align: center;
padding-left: 5px;
}
.ddsmoothmenu ul {
z-index: 100;
margin: 0;
padding: 0;
list-style-type: none;
}
.ddsmoothmenu ul li {
float: left;
position: relative;
display: inline;
background:#13449d;
}
.ddsmoothmenu ul li a {
display: block;
height: 34px;
line-height: 34px;
padding: 0px 20px 0px 20px;
color: white;
text-decoration: none;
font-size: 14px;
}
.dropdownarrow {
position: absolute;
top: 12px;
right: 7px;
border: 0px;
}


        #slider_box {width:940px; height:320px; overflow:hidden; position:relative;}
        #slider_box button {background:rgba(0,0,0,.6); border:1px solid rgba(0,0,0,.7); border-radius:17px; box-shadow:0 0 3px rgba(0,0,0,1); color:rgba(255,255,255,1); cursor:pointer; font-size:17px; font-weight:500; width:32px; height:32px; text-align:center; vertical-align:middle; position:absolute; top:160px; z-index:999;}
        #slider_box button:hover {background:rgba(255,255,255,1); border-color:rgba(240,240,240,1); color:rgba(0,0,0,1);}
        #slider_box li {list-style:none; position:absolute; top:0;left:0;}
        #prev {left:10px;}
        #next {right:10px;}
        #slider {position:absolute; top:0;}
        

#two_box {
float: left;
width: 940px;
height: 260px;
}

#news_box {
width: 700px;
height: 250px;
float: left;
}
#news_li {
width: 442px;
height: 200px;
float: left;
padding: 6px 0 0 4px;
}
#news_box h2 span {
float: right;
height: 34px;
line-height: 34px;
width: 58px;
font-weight: 100;
}
#news_box h2 span a {
font-size: 11px;
color: blue;
}

#news_pic {
width: 250px;
height: 180px;
float: left;
padding: 20px 0 0 0;
}

#pic_content { position:relative; width:220px; height:150px; overflow:hidden; margin:0 auto; }
#pic_content div { position:absolute; top:0; left:0; width:220px; height:150px; display:none; }
#pic_content div pic { width:220px; height:150px; }

#pic_mini { width:120px; height:16px; padding:14px 0 0 100px; }
#pic_mini a { float:left; display:block; width:10px; height:10px; line-height:10px; cursor:pointer; margin:0 3px;
		text-decoration:none; font-size:1px; text-align:center; background:#999; }
#pic_mini a:hover { background:blue; }
#pic_mini a.selected { background:blue; }

#t_1 {
width: 230px;
height: 250px;
float: right;
}
#t_1 h2 span {
float: right;
height: 34px;
line-height: 34px;
width: 62px;
font-weight: 100;
}
#t_1 h2 span a {
font-size: 11px;
color: blue;
}
#t_1 ul {
padding: 10px 14px 0 16px;
}
#t_1 ul li {
padding: 0 0 8px 10px;
background: url(li.gif) no-repeat left 8px;
line-height: 1.5em;
}
#links {
float: left;
width: 940px;
height: 43px;
background: url(links.gif) no-repeat left top;
}

#footer {
float: left;
width: 940px;
height: 130px;
color: #999;
}